<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
    <h1>About Me</h1>
    <span class="image main"><img src="images/about_main.jpg" alt="" /></span>
    <p>
      My goal is to help you find balance during the ever changing seasons of life.
      I believe there is a strong connection between mind, body and soul.
      I have found relieving muscle tension can release emotional stressors.
      Clearing chakras can make room for intuitive thoughts. They are integrated together and
      self care is vital to all aspects of health. I began my professional work as a massage therapist in 2007
      after graduating from Omaha School of Massage. Prior to that, I spent 10 years in the mental health
      field with a focus in psychology and social work. I follow my passions to see where they lead and
      find ways to incorporate the knowledge and skills into my services as I go. I love learning and
      getting new certifications is one of my favorite past times. I became a Reiki Master in 2008,
      a certified birth doula in 2009, a childbirth educator in 2011, a placenta encapsulation specialist
      in 2013, finished my mindfulness and meditation certification and became a traditional herbalist in 2018 and in
      2019. I completed my 100 hour yoga teacher training and began teaching yoga Nidra. I have been making a majority
      of
      our household products since 2010. I have such gratitude for the path that has led me to this stage in life with
      my husband and 3 daughters. We love family hikes, crafting and Girl Scouts. I say "Hello" to the Incline each week
      and love distance training with my sweet Australian Shepherd.
    </p>
  </div>
</div>

<% include ../partials/footer %>