<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
  <h1>About Me</h1>
  <span class="image main"><img src="images/about_main.jpg" alt="" /></span>
  <p>
      My goal is to help you find balance during the ever changing seasons of life. I believe there is a strong connection between mind, body and soul. I have found relieving muscle tension can release emotional stressors. Clearing chakras can make room for intuitive thoughts. They are integrated together and self care is vital to all aspects of health.
      I began my professional work as a massage therapist in 2007 after graduating from Omaha School of Massage. Prior to that, I spent 10 years in the mental health field with a focus in psychology and social work. I follow my passions to see where they lead and find ways to incorporate the knowledge and skills into my services as I go. I love getting new certifications.  I became a Reiki Master in 2008, a certified birth doula in 2009, a childbirth educator in 2011, a placenta encapsulation specialist in 2013, finished my mindfulness and meditation certification in 2018 and am currently enrolled in an herbalist program and a 100 hour yoga teacher training. I have been making a majority if our household products since my oldest was born in 2010.  I have 10 years experience in a health club/gym setting with many deep tissue clients, have specialized in prenatal massages with my birthwork clients, and worked at a center that primarily focused on fertility enhancement.
      I adore my husband and our 3 red headed daughters. We  spend our summers camping and kayaking on the weekends and enjoying trips to the mountains whenever we can. I find nature to be cleansing and strive to be in harmony with it. I am a distance runner. That is my “me” time and even if it is 20 degrees out, I find my happy place with my sweet Aussie and a pair of sneakers. 
  </p>
  </div>
</div>

<% include ../partials/footer %>