<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
  <h1>Birth</h1>
  <span class="image main"><img src="images/birth_main.jpg" alt="" /></span>
  <p>
    To sign up for my Birth Connection and Comfort class visit <a href="https://hotyogaatindigo.com/">www.hotyogaatindigo.com</a>
    This is an informational and hands on class to help partners connect during birth. 
    Approach one of the best and most exciting days of your life with more confidence and less fear by learning ways 
    to ease late pregnancy and birthing time discomfort and enhance the experience for both partners.
  </p>
  <p>
    While I am no longer teaching Hypnobabies, I highly recommend the program. 
    I used it myself and had wonderful birth experiences and outcomes. 
    Our culture views birth as a medical experience and usually the horror stories are the ones that spread. 
    Do yourself a favor and watch some Hypnobabies births on YouTube. Absolutely peaceful and beautiful. 
    My clients often fooled the providers into thinking they were in early labor, 
    looking like they were sleeping with a smile on their face, only to find they were ready to push. 
    My birth was so easy I tried to send my husband to class and 30 minutes later had our daughter 
    in our living room. Great stuff. Madison Lopez teaches locally and you can find her at <a href="https://www.hypnobabiescoloradosprings.com/">www.hypnobabiescoloradosprings.com</a>
  </p>
  <p>
    I am not currently taking new doula clients.
  </p>    

  </div>
</div>

<% include ../partials/footer %>


