<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
  <h1>Birth</h1>
  <p>
  While I am no longer teaching Hypnobabies, I highly recommend the program. I used it myself and had wonderful birth experiences and outcomes. Our culture views birth as a medical experience and usually the horror stories are the ones that spread. Do yourself a favor and watch some Hypnobabies births on YouTube. Absolutely peaceful and beautiful. My clients often fooled the providers into thinking they were in early labor, looking like they were sleeping with a smile on their face, only to find they were ready to push. Great stuff. 
</p>
  <p>
  I am not currently taking new doula clients, but am so relieved to find that the local birth climate is becoming more and more open to this type of support and that ACOG even recognizes doula support as equivalent to a pain relief drug. We now have 2 birth centers in Nebraska, one in Lincoln and one in Omaha and home births supported by midwives are still an option for Iowa mothers.
  I will be adding resources soon. 
</p>
  </div>
</div>

<% include ../partials/footer %>


