<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
  <h1>Placenta Ecapsulation</h1>
  <span class="image main"><img src="images/encapsulation_main.jpg" alt="" /></span>

  <p>
  Over the past decade I have had the honor of holding space for pregnant and birthing couples as a doula, childbirth educator (Hypnobabies Instructor) and placenta encapsulation specialist. I believe the body can be its own healer, and placenta encapsulation is a great example of that. Below is some information to help answer frequently asked questions.
  Please contact dustibosworth@gmail.com if you have additional questions or would like to secure services.
  </p>
  <h2>What is included?</h2>
  <p>
  For $250 your placenta will be processed into capsules using the ‘raw’ or 'unheated' method. Though this term is a bit misleading. The process does dehydrate at 160 degrees to ensure any potential bacteria are killed and holds that temperature for at least 12 hours. (Vegetable based capsules are available for vegetarians.) You will also receive one tincture and a keepsake cord heart. Additional tinctures can be added for $10 each, up to 3 total. I will transport the placenta from where you birth and drop off the capsules to you upon finishing.
  </p>
  <h2>Why do women have their placentas encapsulated?</h2>
  <p>
  Some of the potential benefits of encapsulation include: increased energy, enhanced milk supply, decreased reports of post-partum depression, less moodiness, the pills can help keep fatigue away, decreased risk of anemia, decreased amount of post-partum bleeding, balanced hormones, can assist the uterus in returning to it’s non-pregnant size, decreased after pains, helps with symptoms of PMS, depression, can ease times of transition, times of stress, during menopause and more. ***
  </p>
  <h2>How is the placenta prepared?</h2>
  <p>
  I use the “unheated” method. To make the tincture, a small piece of the placenta is taken and put into a glass bottle with vodka. This will need to sit in a cool, dark place for 6 weeks.

  To make the capsules, the placenta is rinsed and the veins and arteries are drained, the placenta is then cut into strips and placed in a dehydrator. Dehydrating usually takes 16-24 hours to be completely dry, then it is ground up and the capsules are filled with the powder. The capsules will be placed in a glass jar. The cord will be dehydrated and made into a keepsake heart. 

  I take safety seriously and book a limited number of clients each month. I do not bring more than one placenta into my work-space at a time. My work-space a separate space, with its own sink, counters and storage. I do not prepare your placenta where food is prepared, but I treat it as though I do.  I make sure everything is cleaned and sanitized properly before, during and after the process. I have single use scalpels, cutting boards, hair nets, aprons, bowls, etc. I want to provide a service to nourish your health and prefer to process in my own space so I can monitor the dehydration process, have control over the cleanliness of the area and if the power should ever go out or the dehydrator crashes I can use the back up dehydrator or take other necessary precautions immediately. If you prefer this to be done in your home, I am happy to provide referrals. 
  
  <h2>Is there ever a time it is not advised to encapsulate a placenta?</h2>

  If a mom has a uterine infection, encapsulating the placenta is not advised. If you planned services with Dusti she can still make a keepsake heart for you. You could still take your placenta home and bury it, if desired. If a mom has a water birth or c-section she CAN encapsulate.

  To become a Placenta Encapsulation Specialist, Dusti’s training included a Biologix course in the proper handling and cleaning during placental encapsulation (with regards to blood borne pathogens and OSHA standards) and completed a food handlers safety course. She then completed hands on training with her mentor and has since completed Advanced Postpartum Training for encapsulation specialists through Full Circle.
  Dusti has been involved with birth work since early 2009 and takes confidentiality and improving the pregnancy, birth and postpartum experience very seriously. If you would like any references, please let us know and she can provide you with a contact list.
  </p>

  <em>
  ***This service, though highly regarded and widely used, has not been evaluated by the FDA. The services offered by Five Stones Services are not clinical, pharmaceutical, or intended to diagnose or treat any condition. Families who choose to utilize this service take full responsibility of their own health and wellness and for researching and using the tincture/capsules. Five Stones Services makes no guarantee as to the efficacy of the capsules but DOES guarantee the highest quality.
  </em>


  </div>
</div>

<% include ../partials/footer %>