<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
    <h1>Herbs</h1>
    <span class="image main"><img src="images/herbs_main.jpg" alt="" /></span>
    <p>
      Offering Elderberry Syrup workshops regularly. Please check the events page/schedule at <a
        href="https://yogastudiosatya.com/">www.yogastudiosatya.com</a>
    </p>
    <p>
      I am currently making the following products for purchase: elderberry syrup, elderberry tincture, simple tinctures, sugar scrubs and sunscreen. Contact me for prices and shipping costs.
    </p>
    <p>
      <a href="https://returntonow.net/2019/12/30/study-elderberries-block-flu-virus-from-attaching-to-and-entering-human-cells/?fbclid=IwAR0HO1u2ORopuT823c7uHH4GqxtqwjNQpFtj5hQoqupQfUtAHP2OJydjRzM"></a>To see how elderberry blocks the flu virus from attaching to and entering human cells.</a>
    </p>
    <p>
      After completing Rosemary Gladstar's Herbalist certification through Sage Mountain and a 60 hour course with Kate
      Bodmann of Rooted Wisdom, I now earned the title of Traditional Herbalist. Have strep throat or a sinus infection
      but hate the side effects of turning to antibiotics? There are herbs for that! Did you know Hippocrates, creator
      of modern medicine and writer of the Hippocratic oath was an herbalist? He healed with herbs and realized you can
      also harm because plant medicine is a powerful thing. They can get to the root of the problem instead of just
      masking the symptoms, as many prescriptions do, and with much less risk and side effects. There is definitely a
      need for modern medicine, but if you haven't given herbs a try, I highly recommend you do. You may be surprised at
      what a walk through your own backyard can yield/heal. There are many ways to take herbs. Perhaps you have a
      cupboard full of herbal tea blends. You can also take tinctures or simply cook with them! Before processed foods
      and having every fruit and vegetable available every season, we would eat what the land provided to us. Mother
      Earth knows her stuff. Those dandelion roots in the spring are great for a liver to cleanse! Purselane is high in
      nutrients like the microgreens you purchase at the health market and freely grow in your yard. If your seasonal
      allergies bother you, a nettle leaf tea or tincture could ease or completely clear your symptoms. A bath with
      ginger root in it can ease aches and pains and help with colds and fevers. Finding balance through the harmony of
      living off the earth is empowering, cost-effective and accessible.
    </p>
    <p>
      While I am mainly utilizing my new skills at home and on family and friends, I encourage you to check out Sarah
      and see her for all of your herbal needs.
    </p>
    <p>
      <a href="https://www.agardenofhealing.net/">A Garden Of Healing</a>
    </p>
  </div>
</div>

<% include ../partials/footer %>