<% include ../partials/header %>

<!-- Main -->
<div id="main">
	<div class="inner">
		<header>

			<p>
				Five Stones has been joyfully providing services since 2007. 
				I'm called to helping others navigate their path to living in health, wellness and ease. 
				It is my hope that you can find inspiration in some of the information 
				I share or utilize the services I offer to raise your vibration so you can send 
				even more light out into the world. Be the light. Be the change.
			</p>

			<p>
				Massage services, yoga and other classes are offered at Hot Yoga at Indigo. 
				715 Dale Street in Fountain, Colorado. Schedules and information can be found at <a href="https://hotyogaatindigo.com/">www.hotyogaatindigo.com</a>
			</p>
		</header>
		<section class="tiles">
			<article class="style1">
				<span class="image">
					<img src="images/massage.jpg" alt="" />
				</span>
				<a href="/massage">
					<h2>Massage</h2>
					<div class="content">
						<p>Certified massage therapy.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="images/encapsulate.jpg" alt="" />
				</span>
				<a href="/encapsulation">
					<h2>Encapsulation</h2>
					<div class="content">
						<p> The body can be its own healer.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="images/herbs.jpg" alt="" />
				</span>
				<a href="/herbs">
					<h2>Herbs</h2>
					<div class="content">
						<p>The herbs maintain their modest self-command.</p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<img src="images/meditation.jpg" alt="" />
				</span>
				<a href="/meditation">
					<h2>Meditation</h2>
					<div class="content">
						<p>It is imperative to our mental health that we give ourselves some time to just breathe.</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="images/yoga.jpg" alt="" />
				</span>
				<a href="/yoga">
					<h2>Yoga</h2>
					<div class="content">
						<p>An ancient practice that promotes relaxation.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<img src="images/birth.jpg" alt="" />
				</span>
				<a href="/birth">
					<h2>Birth</h2>
					<div class="content">
						<p>Wonderful birth experiences.</p>
					</div>
				</a>
			</article>
		</section>
	</div>
</div>

<% include ../partials/footer %>
