<% include ../partials/header %>

<!-- Main -->
<div id="main">
	<div class="inner">
		<header>

			<p>Five Stones has joyfully been providing massage and birth services to men, women and their families in the Omaha area since 2007 and now services Council Bluffs, Atlantic, Harlan, Audubon and surrounding areas in Iowa. I offer placenta encapsulation and massage therapy. Massage therapy sessions are provided at Prairie Life in Omaha and my home studio in Atlantic. My passion for women is blended with my love of learning and an appreciation for a more natural path to living. Take a look around. I hope my enthusiasm for my work shines through and makes you curious for more information. I would love to answer questions and help you on your journey.

			</p>
		</header>
		<section class="tiles">
			<article class="style1">
				<span class="image">
					<img src="images/massage.jpg" alt="" />
				</span>
				<a href="/massage">
					<h2>Massage</h2>
					<div class="content">
						<p>Certified massage therapy.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="images/encapsulate.jpg" alt="" />
				</span>
				<a href="/encapsulation">
					<h2>Encapsulation</h2>
					<div class="content">
						<p> The body can be its own healer.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="images/herbs.jpg" alt="" />
				</span>
				<a href="/herbs">
					<h2>Herbs</h2>
					<div class="content">
						<p>The herbs maintain their modest self-command.</p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<img src="images/meditation.jpg" alt="" />
				</span>
				<a href="/meditation">
					<h2>Meditation</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="images/yoga.jpg" alt="" />
				</span>
				<a href="/yoga">
					<h2>Yoga</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<img src="images/birth.jpg" alt="" />
				</span>
				<a href="/birth">
					<h2>Birth</h2>
					<div class="content">
						<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
					</div>
				</a>
			</article>
		</section>
	</div>
</div>

<% include ../partials/footer %>
