<% include ../partials/header %>

<!-- Main -->
<div id="main">
	<div class="inner">
		<header>

			<p>
				Five Stones has been joyfully providing services since 2007. 
				I'm called to helping others navigate their path to living in health, wellness and ease. 
				It is my hope that you can find inspiration in some of the information 
				I share or utilize the services I offer to raise your vibration so you can send 
				even more light out into the world. Be the light. Be the change.
			</p>

			<p>
				Massage services, yoga and other classes are offered in the lower level of Yoga Studio Satya. 1581 York Road in Colorado Springs, CO 80918
			</p>
			<p class="callout">
				Online scheduling is temporarily on hold due to Covid.  To ensure I can properly space out clients and work around life's newest adventure (home schooling), please contact me via <a href="mailto:dustibosworth@gmail.com">email</a>,
				<a href="tel:(402) 981.7044">text</a>, or a <a href="tel:(402) 981.7044">phone</a> to get on the books.  I have availability and flexible schedule and can't wait to meet you.
			</p>
			<p>
				<a class="button" href="https://BookWithDustiNow.as.me/">Book Now</a>
			</p>
			<p>
				<strong>Hours of operation</strong> </br >
				Monday 8:30-2:30 </br >
				Tuesday 8:30-3 </br >
				Wednesday 8:30-4 </br >
				Thursday 8:30-4 </br >
				Friday 8:30-3 </br >
			</p>
			<p>
				If you need an evening or weekend time, please send me a request and I will do my best to accommodate you as my schedule allows. Email <a href="mailto:dustibosworth@gmail.com">dustibosworth@gmail.com</a>
			</p>
		</header>
		<section class="tiles">
			<article class="style1">
				<span class="image">
					<img src="images/massage.jpg" alt="" />
				</span>
				<a href="/massage">
					<h2>Massage</h2>
					<div class="content">
						<p>Certified massage therapy.</p>
					</div>
				</a>
			</article>
			<article class="style2">
				<span class="image">
					<img src="images/encapsulate.jpg" alt="" />
				</span>
				<a href="/encapsulation">
					<h2>Encapsulation</h2>
					<div class="content">
						<p> The body can be its own healer.</p>
					</div>
				</a>
			</article>
			<article class="style3">
				<span class="image">
					<img src="images/herbs.jpg" alt="" />
				</span>
				<a href="/herbs">
					<h2>Herbs</h2>
					<div class="content">
						<p>The herbs maintain their modest self-command.</p>
					</div>
				</a>
			</article>
			<article class="style4">
				<span class="image">
					<img src="images/meditation.jpg" alt="" />
				</span>
				<a href="/meditation">
					<h2>Meditation</h2>
					<div class="content">
						<p>It is imperative to our mental health that we give ourselves some time to just breathe.</p>
					</div>
				</a>
			</article>
			<article class="style5">
				<span class="image">
					<img src="images/yoga.jpg" alt="" />
				</span>
				<a href="/yoga">
					<h2>Yoga</h2>
					<div class="content">
						<p>An ancient practice that promotes relaxation.</p>
					</div>
				</a>
			</article>
			<article class="style6">
				<span class="image">
					<img src="images/birth.jpg" alt="" />
				</span>
				<a href="/birth">
					<h2>Birth</h2>
					<div class="content">
						<p>Wonderful birth experiences.</p>
					</div>
				</a>
			</article>
		</section>
	</div>
</div>

<% include ../partials/footer %>
