<% include ../partials/header %>

<!-- Main -->
	<div id="main">
		<div class="inner">
			<h1>Massage</h1>
			<span class="image main"><img src="images/massage_table.jpg" alt="" /></span>

			<p>
				Hands-on healing is my life purpose. I love what I do from the depths of my soul, healing fills my cup and helps me serve my greater purpose. I believe it is in our vulnerability where we find our strength and I am honored I get to create a safe space for my clients where I can walk beside them and join them in the process. Whether it is trusting me to give them their first massage, to share in their fertility journey, to heal from traumatic life events, release anxiety and depression, help recover post surgery or keep them injury free in pre-race training - people constantly amaze me as they open their hearts, put their guard on hold and let it all go on the table. I offer energy work and have been a Reiki Master for about ten years. I intuitively incorporate that into my massage sessions. I strive to be a one-stop shop to tune up your body, mind and soul. I encounter people who are hesitant to schedule healing because they have skin tags or aren't at their ideal weight. Bodies are beautiful. EVERY BODY. But more than that, bodies house the soul. Our souls are begging for grace, peace, support and forgiveness. Our bodies have to last until our final breath. If you could live in more ease and comfort, do things you haven't in years or feel you are aging in reverse, wouldn't you want to give it a try? There is no time like the present to start caring for yourself. I have such a diverse clientele I get to hold healing space for and a variety of techniques, experiences and certifications to draw from. Whether it is deep tissue, myofascial, energy work, sports, fertility enhancing, prenatal, relaxation, resistance release, trigger point or reflexology, I've got you covered and would love to customize a healing session just for you.
			</p>
			<p>
				If you want to see me at my Omaha location I have a room in Jess Coleman’s space at 14229 Pacific Street. I am there Mondays and Thursdays from 7:30a-3:30pm. Service and add on descriptions are on the <a href="/services">Service Descriptions</a> page. 
				<div><a class="button" href="https://BookWithDustiNow.as.me/">Book Now</a></div>
			</p>
			
			<p>
			I also have a studio in Atlantic, Iowa at 1321 Locust Street. My hours are:
			<br />
			Tuesdays -12p-1:30pm <br />
			
			Wednesdays 8:15a-1:30pm <br />
			
			Fridays- 8:15a-1:30pm <br />
			</p>
			<p>
			To schedule an appointment you can text or call <a tel="1(402)981-7044">(402)981-7044</a> or email <a href="mailto:dustibosworth@gmail.com">dustibosworth@gmail.com</a>
			<br />
			Prices for the Atlantic location are: 30 mins for $40, 60 mins for $60 and 90 mins for $85.<br />
			
			Fertility Enhancing Massage- 60 mins for $75 and 90 mins for $100.<br />
			
			Consider adding on an aromatherapy facial steam for $5 or cupping for $10.
			</p>
		</div>
	</div>

<% include ../partials/footer %>