<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
  <h1>Meditation</h1>
  <span class="image main"><img src="images/meditation_main.jpg" alt="" /></span>
 <p>
    Come in for a massage and request the Guided Meditation add on. I will lead you through a meditation tailored to enhance your relaxation, healing or whatever it is you want to focus on. 
 </p>
  <p>
    I am working on writing some meditations and preparing a curriculum to teach meditation and mindfulness classes, but in the meantime I want you to start your meditation journey now! We live in a fast-paced world and often even during our down time we are 'on'. Maybe online, on our phones, watching tv- whatever it is- our minds are constantly processing and engaged. Sleep doesn't count as 'down time' since it is then that our bodies recover and repair while our brains dream and process. While we may be resting, we aren't shut off. Think of how our computers or phones would run if we never shut them off and just left the apps and multiple browsers up and running all the time. It is imperative to our mental health that we give ourselves some time to just breathe. Research keeps showing the benefits of regular meditation. Did you know that 5 minutes a day for 2 weeks showed significant changes in brain scans? It can shrink the amygdala (where our flight or fight response is) and the frontal cortex can get bigger (where our memory is). This can result in decreased anxiety and depression, increased memory, and being slower to anger. You can do a full lotus and chant mantras or you can lay in your bed and focus on your breath for 60 seconds. Start small, it will get easier to keep focus. It's ok if other thoughts enter your brain. Acknowledge them, know that you will address them once you are done, and let them go. Then gently come back to focusing on your breath, mantra or guided meditation. I LOVE the free app- Insight Timer. You can find guided meditations for reducing anxiety, public speaking confidence, restful sleep, or whatever you can think of. Shamanic journeys, music designed for chakra clearing, crystal bowls, or relaxing sounds like running rivers, birds chirping etc. There is a whole library dedicated to kids and let me tell you, bedtime has never been easier in this household. 
  </p>

  <a href="https://news.harvard.edu/gazette/story/2018/04/harvard-researchers-study-how-mindfulness-may-change-the-brain-in-depressed-patients/">Harvard News : How Mindfulness Can Changes the Brain</a> <br />
  <a href="https://link.springer.com/article/10.1007/s41465-018-0068-1#Tab1">https://link.springer.com/article/10.1007/s41465-018-0068-1#Tab1</a>
  </div>
</div>

<% include ../partials/footer %>