<% include ../partials/header %>

<!-- Main -->
<div id="main">
  <div class="inner">
    <h1>Yoga</h1>
    <span class="image main"><img src="images/yoga_main2.jpg" alt="" /></span>
    <p>
      There are many evidence-based benefits to yoga. It is an ancient practice that promotes relaxation, reduces pain
      and stress and you can make it as spiritual or physical as you want. Maybe you lie in Savasana and listen to a
      guided meditation or simply tune in to your breath. Maybe you do handstands in a group class or prefer a one on
      one setting. Perhaps you practice in your home with a video online. You can find free videos on YouTube,
      inspiration on Instagram or have access to various levels and styles on yogaglow.com. Whatever your level or
      interest- a slow, restorative session or a sweaty power yoga class, there is a good fit for you out there. At Yoga
      Studio Satya we have Adaptive yoga classes and a yoga wall. These are great for those using wheelchairs or
      crutches, missing limbs or starting from a place where you could benefit from a bit more assistance.
    </p>
    <p>
      Finding inner balance, self-love and patience on the mat organically flows to life off the mat. While everyone has
      different reasons and inspirations for practicing, I can definitely benefit from taking a deep breath before
      addressing a challenging parent moment and yoga brings that awareness and patience to me. Yoga is for EVERY BODY.
      You don't have to touch your toes or break a sweat but you certainly may. It's such an individual practice for
      self-growth and everyone checks their ego and leaves judgment at the door. It meets you where you are at. It's
      also great fun and extremely beneficial to include kids. I use restorative yoga to help those sensitive hearts and
      busy brains that can get to spinning before bedtime. It helps them ease gently into a peaceful sleep, feeling
      grounded, calm and stable. To see the class schedule or take a Yoga Nidra workshop with me, visit the events page
      at <a href="https://yogastudiosatya.com/">www.yogastudiosatya.com</a>
    </p>
  </div>
</div>

<% include ../partials/footer %>